<header class="main-header">
  <nav class="main-nav">
    <ul>
      <li>
        <a class="<%= path === '/' ? 'active' : '' %>" href="/">Add New User</a>
      </li>
      <li>
        <a class="<%= path === '/users' ? 'active' : '' %>" href="/users"
          >Users
        </a>
      </li>
    </ul>
  </nav>
</header>
